*{
    margin: 100;
    font-family: 'Lobster', cursive;
}


.site-name {
    margin-top: 50px;
    display: block;
}

body{
    background-image: url(https://avatars.mds.yandex.net/i?id=dc7563a4f28ff75fa93429956be13e87d5ab236b-8539554-images-thumbs&n=13);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}

header{
    background-color: #00a2ff;
    width: 100%;
    height: 650px;
    float: left;
}

.name{
    float: left;
}
#logo{
    width: 500px;
    height: 500px;
    margin: 50px;
    float: left;
    animation: log 4s ;
}

@keyframes log{
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(360deg) scale(1);
        margin-left: 50%;
        margin-top:100px;
    }
    100%{
        transform: rotate(720deg) scale(10);
    }
}

nav{
    float: right;
    display: flex;
    margin: 20px;
}

.nav-link{
    padding-left:30px ;
    font-size: 25px;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: auto;
    background-color: #8ad0ff;
}

.medium-border {
    border: 5px solid #00a2ff;
    padding: 20px;
}
.tablic{
    width: 80%;
    margin: auto;
     border: 1px solid grey;
     background-color: #fff;
}

th {
   border: 1px solid grey;
}

td {
   border: 1px solid grey;
}

.chet{
    background: #1d32a7;
}

.element {
    border: 10px solid #333;      
}
footer
{
    background-color: #f33d05;
    width: 100%;
    
    
}
